In [1]:
import re
import pandas as pd
import os

In [2]:
#Importamos el csv con el dataset
#https://www.kaggle.com/sp1thas/book-depository-dataset?select=dataset.csv
data = pd.read_csv("Input/dataset-books.csv")
data = pd.DataFrame(data)
data.head(1)

,authors,bestsellers-rank,categories,description,dimension-x,dimension-y,dimension-z,edition,edition-statement,for-ages,...,isbn10,isbn13,lang,publication-date,publication-place,rating-avg,rating-count,title,url,weight
0,[1],NaN,"[334, 335, 341, 2622, 352, 2626, 353, 2627]",Renowned urban artist Shepard Fairey's new loo...,111.0,181.0,20.0,NaN,Repr.,NaN,...,141036141,9.780141e+12,en,2008-10-01,1.0,4.18,2918204.0,1984,/1984-George-Orwell/9780141036144,184.0

In [3]:
data.shape

(56009, 25)

In [4]:
null_cols = data.isnull().sum()
null_cols

authors                   0
bestsellers-rank      37303
categories                0
description            4022
dimension-x            2474
dimension-y            5356
dimension-z            2474
edition               49543
edition-statement     41876
for-ages              52972
format                  206
id                        0
illustrations-note    39101
imprint               46685
index-date                0
isbn10                    0
isbn13                  537
lang                   2851
publication-date        139
publication-place     23939
rating-avg            35990
rating-count          35990
title                     0
url                       0
weight                 5811
dtype: int64

In [5]:
data.columns

Index(['authors', 'bestsellers-rank', 'categories', 'description',
       'dimension-x', 'dimension-y', 'dimension-z', 'edition',
       'edition-statement', 'for-ages', 'format', 'id', 'illustrations-note',
       'imprint', 'index-date', 'isbn10', 'isbn13', 'lang', 'publication-date',
       'publication-place', 'rating-avg', 'rating-count', 'title', 'url',
       'weight'],
      dtype='object')

In [6]:
drop_cols = ['id','bestsellers-rank','dimension-x','edition','edition-statement', 'for-ages', 'format', 'illustrations-note',
       'imprint', 'index-date', 'dimension-y',"description","isbn13",'publication-place','dimension-z','weight','rating-count','url']
data = data.drop(drop_cols, axis =1)

In [7]:
data.columns

Index(['authors', 'categories', 'isbn10', 'lang', 'publication-date',
       'rating-avg', 'title'],
      dtype='object')

In [8]:
data.sort_values(by="rating-avg", ascending=False).head(5)

,authors,categories,isbn10,lang,publication-date,rating-avg,title
28415,"[27175, 27176, 27177, 27178]","[404, 783, 3328, 784, 3329, 787, 3332, 796, 33...",1611862493,en,2017-07-01,5.0,Deliberative Pedagogy : Teaching and Learning ...
22194,"[22510, 22511]","[2741, 680, 845, 930, 2744]",1608465497,en,2016-01-29,5.0,"Marxism Of Manuel Sacristan, The: From Communi..."
24499,[23948],"[2866, 2219]",1984826085,en,2020-03-31,5.0,Bless Your Heart : 200 Trivia Questions to Pro...
24550,[23972],[2948],1937513289,en,2013-09-06,5.0,Fresh Designs : Kids
24568,[22359],[2959],1099844592,en,2019-05-23,5.0,"2020-2024 Monthly Planner 5 Years-Dream It, Be..."

In [9]:
data.shape

(56009, 7)

In [10]:
null_cols = data.isnull().sum()
null_cols

authors                 0
categories              0
isbn10                  0
lang                 2851
publication-date      139
rating-avg          35990
title                   0
dtype: int64

In [11]:
def year_format(column): 
    formatted_date = data["publication-date"].dt.strftime("%m/%d/%y")
    return formatted_date

In [12]:
def date_format(column):
    data[column]= pd.to_datetime(data[column])
    return data[column]

In [13]:
#data['publication-date']= pd.to_datetime(data['publication-date']) 
#data["publication-date"] = data.apply(date_format)

In [15]:
import numpy as np
import datetime as dt
data["publication-date"] = pd.to_datetime(data["publication-date"])
data["year"] = pd.DatetimeIndex(data["publication-date"]).year


#data["year"] = pd.DatetimeIndex(data["publication-date"],dtype='datetime64[ns]', freq=None).year
#data["year"] = pd.DatetimeIndex(data["publication-date"]).year.astype("int64")
#data['year'] = data['year'].astype('datetime64[ns]')
data

,authors,categories,isbn10,lang,publication-date,rating-avg,title,year
0,[1],"[334, 335, 341, 2622, 352, 2626, 353, 2627]",141036141,en,2008-10-01,4.18,1984,2008.0
1,[2],"[376, 378, 868, 873, 900, 2771, 3097, 2590]",1501143905,en,2016-11-16,4.01,100 Deadly Skills: Survival Edition : The SEAL...,2016.0
2,"[3, 4]","[2978, 2980]",1444762052,en,2013-05-23,3.59,The 100 Most Pointless Things in the World : A...,2013.0
3,[5],"[2948, 2953]",1784943460,en,2017-11-14,3.66,50 Knitted Dolls,2017.0
4,[6],"[2942, 2948, 2953]",1782216952,en,2019-06-04,4.66,20 to Knit: Pocket Pets,2019.0
...,...,...,...,...,...,...,...,...
56004,[50461],"[2820, 2825, 2853]",648696707,en,2019-11-25,4.75,2020 Biddy Tarot Planner,2019.0
56005,[50460],"[3063, 3100]",1472143051,en,2019-11-19,NaN,100 Greatest Cycling Climbs of Italy : A guide...,2019.0
56006,[50462],[2841],692792880,en,2016-12-16,3.66,40 Winks : A Narcoleptic's Journey Through Sle...,2016.0
56007,"[50463, 50464]","[177, 3292, 179, 3294, 183, 3298, 199, 3314, 2...",193532271,en,1988-01-07,4.46,100 Carols for Choirs,1988.0
56008,[12018],"[2789, 3019, 3079]",1552100405,en,2007-04-11,4.60,1001 Musclebuilding Tips,2007.0

In [16]:
data.columns

Index(['authors', 'categories', 'isbn10', 'lang', 'publication-date',
       'rating-avg', 'title', 'year'],
      dtype='object')

In [17]:
column_order = ['isbn10','authors','title','categories', 'lang','publication-date', 'year',"rating-avg"]
data = data[column_order]
data.dtypes

isbn10                      object
authors                     object
title                       object
categories                  object
lang                        object
publication-date    datetime64[ns]
year                       float64
rating-avg                 float64
dtype: object

In [18]:
data.shape

(56009, 8)

In [19]:
data = data.dropna(how='all')
data.head(5)

,isbn10,authors,title,categories,lang,publication-date,year,rating-avg
0,141036141,[1],1984,"[334, 335, 341, 2622, 352, 2626, 353, 2627]",en,2008-10-01,2008.0,4.18
1,1501143905,[2],100 Deadly Skills: Survival Edition : The SEAL...,"[376, 378, 868, 873, 900, 2771, 3097, 2590]",en,2016-11-16,2016.0,4.01
2,1444762052,"[3, 4]",The 100 Most Pointless Things in the World : A...,"[2978, 2980]",en,2013-05-23,2013.0,3.59
3,1784943460,[5],50 Knitted Dolls,"[2948, 2953]",en,2017-11-14,2017.0,3.66
4,1782216952,[6],20 to Knit: Pocket Pets,"[2942, 2948, 2953]",en,2019-06-04,2019.0,4.66

In [20]:
null_cols = data.isnull().sum()
null_cols

isbn10                  0
authors                 0
title                   0
categories              0
lang                 2851
publication-date      139
year                  139
rating-avg          35990
dtype: int64

In [21]:
data0 = data[(data["year"]== 2008.0)& (data["title"]== "1984")&(data["authors"] =="[1]") ]
data3 = data[(data["year"]== 2008.0)& (data["title"]== "1984")&(data["categories"].str.contains(r'[334]'))]

data3.head()

,isbn10,authors,title,categories,lang,publication-date,year,rating-avg
0,141036141,[1],1984,"[334, 335, 341, 2622, 352, 2626, 353, 2627]",en,2008-10-01,2008.0,4.18

In [ ]:
def output(x,y):
    return data[(data["year"]== x)&(data["categories"].str.contains(r'[y]'))].sort_values(by="rating-avg", ascending=False).head(5)

output(2008.0,2529)

In [23]:
def output(x,y):
    return data[(data["year"]== x) & (data["categories"].str.contains(f"{y}"))& (data["rating-avg"]>4)].sort_values(by="rating-avg",ascending=False).head(10)

output(2008.0,287)

,isbn10,authors,title,categories,lang,publication-date,year,rating-avg
1262,573663009,[1376],The Mosley Street Melodramas - Volume 1,"[125, 287]",en,2008-11-30,2008.0,5.00
771,971534470,[840],20 Things You Must Know to Write a Great Scree...,"[125, 241, 248, 287, 783, 3328]",en,2008-09-15,2008.0,4.50
869,190411377X,[950],Yiddish Theatre : New Approaches,"[125, 287, 295, 3133, 701]",en,2008-03-01,2008.0,4.25
6112,413748308,[6485],4.48 Psychosis,"[287, 2556]",en,2008-09-16,2008.0,4.22

In [24]:
def output(x):
    return data[(data["year"]== x)].sort_values(by="rating-avg", ascending=False).head(5)

output(2008.0)

,isbn10,authors,title,categories,lang,publication-date,year,rating-avg
31084,1934757292,[29106],"The International Directory of Pirates, Buccan...","[214, 383, 736]",en,2008-03-30,2008.0,5.0
1262,573663009,[1376],The Mosley Street Melodramas - Volume 1,"[125, 287]",en,2008-11-30,2008.0,5.0
51244,817646256,"[46378, 46379, 27276, 46380]",Advances in Mathematical and Statistical Modeling,"[928, 940, 2754, 1508, 1511, 1513, 1514, 1515,...",en,2008-09-02,2008.0,5.0
1422,9780007272389,[766],2009 Collins Easy Read Road Atlas Britain,"[386, 3388, 3100, 3112, 3117]",en,2008-07-07,2008.0,5.0
10993,9781404218338,"[11392, 11393]",Student's Workbook for High School Journalism,"[811, 3356, 834, 3379, 2562]",en,2008-11-01,2008.0,5.0

In [ ]:
def output(x,y):
    x=float(x)
    return result[(result["year"]== x) & (result["categories"].str.contains(f"{y}"))& (result["rating-avg"]>3.5)].sort_values(by="rating-avg",ascending=False).head(25)

In [ ]:
output(2010,1300)

In [25]:
data2 = pd.read_csv("Input/authors.csv")
data2 = pd.DataFrame(data2)
data2 = data2.set_index('author_id').to_dict()
data2

{'author_name': {3589: nan,
  48085: "'Ido Netanyahu",
  26888: '(Ed) Arthur   Blumenthal',
  39930: '(Thomson Delmar Learning) Thomson Delmar Learning',
  24963: '*Nsync',
  39063: '-',
  50002: '- Reeves Simon',
  25288: '- Sutcliffe Owen',
  32975: '. . Pearson Education',
  32960: '. ITLS',
  26317: '029',
  28279: '100 Beste Plakate e. V.',
  45516: '101 Tips',
  30055: '10Demates, Profesor',
  23759: '1111 Paper Press',
  44628: '125 Group',
  31919: '1570 Publishing',
  2383: '1804-1894.  Elizabeth Palmer Peabody',
  43614: '1840-1927  John Scott Sir Keltie',
  3761: '1945 Publishing',
  7128: '1980 Dusseldorf> Spektrometertagung',
  3714: '1stgrade Publishers',
  10161: '1stworld Library',
  23204: '2017-2018 Planner',
  23114: '2018 Plannerz',
  3691: '2019-2020 Planners',
  21564: '2048 Books',
  47294: '22 E Society',
  127: '26 Ways',
  21431: '3',
  28153: '3 Doors Down',
  29400: '3 Rs Publishers',
  45324: '3.5',
  43677: '365 Journals',
  23015: '365 Planners',
  26052: '3deluxe architecture',
  24950: '3dtotal Team',
  40601: '4 Legged Love',
  41655: '401books',
  3828: '401k',
  35261: '404 Ink',
  22361: '5 Crowns Essentials',
  6631: '5 Seconds of Summer',
  6470: '50 Cent',
  38202: '50 Things To Know',
  17530: '5th Edition Ford and Ford',
  2566: "5th Grade Teacher t's Store",
  13709: '62 Exam Secrets Test Prep Series',
  11699: '6th Cent B C Sun-Tzu',
  2561: "6th Grade Teacher t's Store",
  42137: '7 Day Guides',
  6646: '826 Valencia',
  12861: '826 Valencia Writing Center',
  10240: '99% Invisible',
  5359: '@ Journals and Notebooks',
  50186: '@1001recruittips',
  5187: '@Journals Notebooks',
  23746: '@chuchoti Paris',
  34101: '@coachvalj Challenge Journals',
  8513: 'A  Jennifer Nielsen',
  33043: 'A A Brill',
  29690: 'A B Grimaldi',
  3906: 'A B Paterson',
  9387: 'A B Poland',
  46850: 'A Bader',
  25377: 'A Bakalian',
  30133: 'A Blanc and Company',
  50330: 'A Blayney Percival',
  18467: 'A Book by Me',
  36500: 'A C Coberly',
  141: 'A C Kdp',
  16606: 'A Canadian',
  534: 'A Churchman',
  48840: 'A Constance Sear',
  1450: 'A Country Gentleman',
  4236: 'A D Jameson',
  43371: 'A D Webster',
  31690: 'A Design Creation',
  33174: 'A E Beck',
  29487: 'A Esmein',
  40719: 'A F M Willich',
  24866: 'A F Morris Hands',
  12207: 'A Fore-Top-Man',
  28591: 'A Fowlpun',
  727: 'A Frederick 1869- Collins',
  30210: 'A Friend to Innocent Mirth',
  30509: 'A Full Cast',
  29535: 'A G Cerda',
  22744: 'A Gentleman',
  48947: 'A Gibbons',
  16710: 'A Gilbert',
  22171: 'A Graduate',
  27370: 'A H Barbour',
  34470: 'A H Bridle',
  11187: 'A H Nelson',
  40312: 'A Harle',
  11737: 'A Herr',
  39066: 'A Hope',
  33811: 'A J Beckles',
  28482: 'A J Bicknell & Co',
  7261: 'A J Howells',
  36: 'A J Williamson',
  20369: 'A J Withers',
  23173: 'A K Isbister',
  18322: 'A K M Shahidul Islam',
  33312: 'A L Dawn French',
  22040: 'A Lady of Rhode Island',
  39506: 'A Lawson',
  27675: 'A Layman',
  2300: 'A Lea Roth',
  3120: 'A Liautard',
  27514: 'A Literary Association',
  40754: 'A M Edwards',
  98: 'A M Lang',
  3114: 'A M Leslie',
  39098: 'A Madoo',
  15319: 'A Mason',
  20953: 'A Mere Man',
  12352: 'A N Okonoboh',
  4267: 'A Norwest Co Emjay Corporation',
  50185: 'A P Bah Bioh',
  23819: 'A P Potts',
  38232: 'A Parish Doctor',
  4466: 'A Pedestrian',
  40778: 'A R D MacKenzie',
  42300: 'A R Roumanis',
  45945: 'A Ravi Sankar',
  44480: 'A Roulier',
  7545: 'A Ruiter',
  29028: 'A S Berman',
  46887: 'A S Gintzler',
  46654: 'A S Leo Scorpionies Mayur',
  1154: 'A S Rangwala',
  22439: 'A S Walpole',
  33256: 'A Sasekumar',
  31617: 'A Shareholder',
  38915: 'A Sheridan Lea',
  12450: 'A Siline-Bekchourine',
  5753: 'A Skene Smith',
  40820: 'A Spiritual Physician',
  3191: 'A Staff of Eminent Geographers',
  27722: 'A Stationer',
  39061: 'A Stevens',
  11744: 'A Sturmer',
  44132: 'A T Galt',
  37638: 'A T Robertson',
  36644: 'A T Stearns Lumber Company',
  19267: 'A T Strahorn',
  29594: 'A Thakore',
  14968: 'A V N Swamy',
  8696: 'A V Williams Jackson',
  23726: 'A W Book',
  4125: 'A W Shaw Company',
  36173: 'A W Tozer',
  4467: 'A Walton',
  2633: 'A Young Lady',
  40737: 'A Z Godunov',
  34295: 'A a Spring',
  43887: 'A+ Planners',
  25719: 'A+u Publishing',
  35230: 'A-C Motron',
  14997: 'A. A. Antonopoulos',
  14622: 'A. A. Collyer',
  48739: 'A. A. Dhand',
  18128: 'A. A. Dolinsky',
  11385: 'A. A. Martynyk',
  2779: "A. A. Vasil'ev",
  26345: 'A. Aaron',
  14646: 'A. Aguado',
  19475: 'A. Ali',
  53: 'A. Alonso Aguirre',
  7671: 'A. Amstutz',
  19859: 'A. Aves',
  8459: 'A. B. Aries',
  12935: 'A. B. M. Shawkat Ali',
  4421: 'A. B. Mitford',
  31842: 'A. B. Saddlewick',
  38285: 'A. B. Sossinsky',
  14543: 'A. Barbalata',
  42585: 'A. Beckett',
  34728: 'A. Beer',
  42589: 'A. Bellemere',
  36890: 'A. Bertram Chandler',
  8457: 'A. Bianchini',
  12659: 'A. Block',
  41651: 'A. Bowdoin Van Riper',
  15378: 'A. Butcher',
  19383: 'A. C. Dale',
  36634: 'A. C. Fellner',
  9763: 'A. C. Knipe',
  14576: 'A. Calmon-Decriaud',
  19901: 'A. Cattana',
  27188: 'A. Cheremensky',
  21224: 'A. Clark',
  34766: 'A. Cumming',
  48529: 'A. D. Lee',
  39957: 'A. Douglas Kinghorn',
  46260: 'A. Dumitrescu',
  12032: 'A. E. Lockington',
  40595: 'A. E. Patla',
  10404: 'A. Fernandez',
  14883: 'A. Fiechter',
  29536: 'A. Findlay',
  37896: 'A. FrÃ¶hlich',
  47935: 'A. G. Hopkins',
  22208: 'A. G. Smith',
  33979: 'A. G. Taylor',
  15307: 'A. Gomes Correia',
  8556: 'A. Gordon Emslie',
  38492: 'A. Heisel',
  42583: 'A. Henssen',
  12163: 'A. I. Cherepanov',
  2793: 'A. I. Lebedev',
  37252: 'A. J. Colucci',
  28048: 'A. J. Fairbank',
  19164: 'A. J. Hermans',
  8943: 'A. J. Willis',
  8630: 'A. Jafar',
  18814: 'A. Jayalakshmi',
  32408: 'A. Jon Berrick',
  31440: 'A. K. Alexander',
  42506: 'A. K. Davidson',
  3943: 'A. K. Dewdney',
  45756: 'A. K. Ganguly',
  43532: 'A. K. Gupta',
  14450: 'A. K. Haghi',
  40677: 'A. Kasperczyk',
  36315: 'A. Lee Martinez',
  19417: 'A. M. Chandra',
  8458: 'A. M. Fridman',
  15052: 'A. M. Kutepov',
  36907: 'A. M. Madden',
  10302: 'A. M. Magill',
  14740: 'A. M. Verga Scheggi',
  40631: 'A. Marston',
  8822: 'A. Merino',
  32128: 'A. Meuss',
  38961: 'A. N. Kolmogorov',
  4886: 'A. Norman Jeffares',
  14205: 'A. P. Mouritz',
  2763: 'A. P. Roberts',
  13459: 'A. P. Vorotnikov',
  38960: 'A. P. Yushkevich',
  45590: 'A. Pastore',
  28933: 'A. Paula Wilson',
  27294: 'A. Pinkus',
  4929: 'A. R. Ammons',
  14773: 'A. R. Jha',
  27758: 'A. R. Penck',
  32811: 'A. R. Winters',
  36166: 'A. R. Wise',
  14052: 'A. Ribeiro',
  20946: 'A. S. Hornby',
  6869: 'A. S. Kompanayets',
  2794: 'A. S. Leviant',
  43552: 'A. S. Saidan',
  39780: 'A. Sahoo',
  28117: 'A. Sanguineti',
  14460: 'A. Sankaranarayanan',
  19466: 'A. Sarja',
  33961: 'A. Sasekumar',
  2876: 'A. Selwyn St.Leger',
  41201: 'A. Smith',
  37016: 'A. T. Chandler',
  27322: 'A. T. Fomenko',
  16127: 'A. T. Robertson',
  41877: 'A. V. Dicey',
  17701: 'A. V. Ragulya',
  15051: 'A. V. Vyazmin',
  11283: 'A. Veprik',
  38568: 'A. William Pasculle',
  21505: 'A. Wright',
  12245: 'A. de Sa',
  18307: 'A.-P. Jauho',
  987: 'A.A. Borisov',
  12566: 'A.B. Movchan',
  36698: 'A.C. Bishop',
  12997: 'A.C. Chang',
  14537: 'A.D. Trifunac',
  26068: 'A.E. Fiadone',
  38598: 'A.G. Adelman',
  15523: 'A.G. Kirdyashkin',
  16715: 'A.G. Watts',
  276: 'A.Glenn Mandeville',
  1320: 'A.H. Barkawi',
  36665: 'A.H. Havelaar',
  45742: 'A.H. Tran',
  44475: 'A.H.Z. Carr',
  33724: 'A.J. Banner',
  19535: 'A.J. Keane',
  36627: 'A.J. Millar',
  33763: 'A.J. Withers',
  12687: 'A.L. Berger',
  40213: 'A.L. Betz',
  988: 'A.L. Kuhl',
  39625: 'A.M. Ehrly',
  30977: 'A.M. Young',
  12079: 'A.M.M. Elfeki',
  11022: 'A.N. Ince',
  42576: 'A.R. Luther',
  36696: 'A.R. Woolley',
  11999: 'A.S. Chirkin',
  40335: 'A.S. Naidu',
  49213: 'A.W. Plumstead',
  773: 'AA Publishing',
  15242: 'AA. VV.',
  15775: 'AA.Vv.',
  42423: 'ABI ELPHINSTONE',
  5019: 'ABI Morgan',
  17787: 'ACHONWA CHINYERE',
  39798: 'ACSM',
  10841: 'ACerS (American Ceramic Society)',
  8967: 'ADAM SCAIFE',
  35075: 'AIAA',
  831: 'AIAA (American Institute of Aeronautics and Astronautics)',
  832: 'AIAA/Asme/Asce/AHS/Asc Structures Structural Dynamics and Materials Conference',
  42980: 'AMC',
  14746: 'AMIT KUMAR',
  844: 'ANDREW MARANTZ',
  26737: 'ASCII Media Works',
  15112: 'ASM International',
  13372: 'ATLANTIC PUBLISHING GROUP',
  47040: 'AXELOS',
  28610: 'AYUB KHAN',
  47593: 'Aa VV',
  1840: 'Aaha',
  40381: 'Aamir Ahmad',
  2007: 'Aana Marie Vigen',
  40157: 'Aapa',
  31338: 'Aaron Abano',
  34652: 'Aaron Auerbach',
  46926: 'Aaron Baddey',
  43993: 'Aaron Barlow',
  21748: 'Aaron Chamberlain',
  4329: 'Aaron Clarke',
  2107: 'Aaron Daffern',
  14150: 'Aaron Frank',
  47472: 'Aaron Garretson',
  15486: 'Aaron Graves',
  6320: 'Aaron Hughes',
  39284: 'Aaron J. Burwick',
  23139: 'Aaron Jadober',
  33537: 'Aaron Jolly',
  41175: 'Aaron Joy',
  36064: 'Aaron Landon',
  41292: 'Aaron Linsdau',
  22142: 'Aaron Lopresti',
  11970: 'Aaron Martin',
  3468: 'Aaron Millar',
  41065: 'Aaron Reed Crna',
  34579: 'Aaron Reynolds',
  35894: 'Aaron Rhames',
  5699: 'Aaron Ridley',
  38530: 'Aaron Robertson',
  36631: 'Aaron Ross Powell',
  39477: 'Aaron Shepard',
  37157: 'Aaron Smith',
  23268: 'Aaron Sramek',
  31357: 'Aaron Waite',
  18820: 'Aaron Wildavsky',
  385: 'Aaron Wilkes',
  34085: 'Aarti Aney Menon',
  20805: 'Aarti Ratna',
  46700: 'Ab Eric',
  46417: 'Ab Razak Che Hussin',
  45805: 'Abad Ali Shah',
  27998: 'Abanindranath Tagore',
  47365: 'Abatron Logbooks',
  3034: 'Abb Landis',
  20073: 'Abbas Al-Tonsi',
  12547: 'Abbas Ghassemi',
  22297: 'Abbas Mirakhor',
  3380: 'Abbe Bates',
  31771: 'Abbe Holmes',
  40367: 'Abbe Research Division',
  2515: 'Abbi Glines',
  43335: 'Abbi Jacobson',
  41537: 'Abbie Emmons',
  35856: 'Abbie Williams',
  42416: 'Abbot Kinney',
  29976: 'Abbott Payson Usher',
  28829: 'Abby Books',
  9178: 'Abby Colich',
  36752: 'Abby Craden',
  2255: 'Abby Dening',
  23866: 'Abby Gilchrist',
  16958: 'Abby Marks-Beale',
  3342: 'Abdallah Emran',
  45538: 'Abdel Bari Atwan',
  24098: 'Abdelali Aabi',
  12736: 'Abdelazim M. Negm',
  10771: 'Abdelaziz El Kfita',
  8113: 'Abdelkader Chachi',
  12264: 'Abdelkhalak El Hami',
  47791: 'Abdellah Touhafi',
  40963: 'Abdelmonem Abdelaziz Afifi',
  2799: 'Abderahmane Rehail',
  46510: 'Abdessamad Benzir',
  9038: 'Abdias Trew',
  24027: 'Abdou Kadir',
  37406: 'Abdoulaye Kane',
  7053: 'Abdul Alkalimat',
  45541: 'Abdul B Subhani',
  15336: 'Abdul Gabbar Al-Sharafi',
  46196: 'Abdul Salam',
  30672: 'Abdul Shukor',
  7215: 'Abduljabbar Turki Afaq',
  10057: 'Abdullah Bashar Mudhaffar',
  9169: 'Abdullah M. Asiri',
  12345: 'Abdulrahman Yarali',
  1400: 'Abe Chuzzlewit',
  38962: 'Abe Shenitzer',
  45912: 'Abel Monfort de Bedoya',
  39020: 'Abernethy John 1764-1831',
  21830: 'Abheek Singhi',
  37859: 'Abhijit DasGupta',
  35803: 'Abhinav Kaushik',
  22130: 'Abhinay Muthoo',
  44849: 'Abhishek Chopra',
  31283: 'Abhishek Sharma',
  18151: 'Abi Rafiee',
  26558: 'Abi Umeda',
  15447: 'Abigail Flesch Connors',
  9235: 'Abigail Halpin',
  3436: 'Abigail Kemp',
  31351: 'Abigail Roux',
  15950: 'Abigail Schmidt',
  46539: 'Abigail Sellen',
  35930: 'Abigail Strom',
  9642: 'Abigail Wheatley',
  859: 'Abilio Estevez',
  24207: 'Abiodun Elijah Obayelu',
  20459: 'Abiola Odejide',
  2621: 'Abira Das',
  46483: 'Aboul Ella Hassanien',
  44133: 'Abraham Edward Pinanski',
  29556: 'Abraham Geiger',
  9082: 'Abraham Gesner',
  19217: 'Abraham H. Lass',
  12508: 'Abraham Kandel',
  43900: 'Abraham L. Gitlow',
  17586: 'Abraham Teklu',
  37206: 'Abraham Vargese',
  48020: 'Abraham Z. Idelson',
  18005: 'Abram S. Dorfman',
  34880: 'Abrams Isabel',
  3726: 'Abrams Noterie',
  7604: 'Abrasha Rotenberg',
  26901: 'Abstract Coloring Book Publishing',
  9250: 'Abubakar Shehu Mohammed',
  15110: 'Abul Hasan Siddiqi',
  16864: 'Abul Pitre',
  36457: 'Academic Planners',
  23007: 'Academic Plannerz',
  524: 'Academy Der Sprachclub',
  15595: 'Academy of Life Underwriting',
  44048: 'Academy of Political & Social Science',
  44047: 'Academy of Political Science',
  13303: 'Accolade Press',
  17427: 'Ace',
  10711: 'Ace Academic Publishing',
  16070: 'Ace Mccloud',
  40600: 'Acequia Publications',
  38848: 'Acharya Balkrishna',
  6861: 'Acharya S',
  18919: 'Achile Hernandez',
  46233: 'Achille Pattavina',
  26890: 'Achim HochdÃ¶rfer',
  33855: 'Achim Kaiser',
  45633: 'Achim Schmidtmann',
  8607: 'Achintya Kumar Pramanick',
  1297: 'Acie Cargill',
  26842: 'Aco Arisaka',
  21682: 'Act',
  30422: 'Active Creative Journals',
  9890: 'Active Notebooks',
  26946: 'Activity Coloring Books',
  24271: 'Activity Nelo',
  22935: 'Activitybooks',
  24126: 'Activityz Publishing',
  9151: 'Ad La De Felicie',
  2921: 'Ada Budell',
  28541: 'Ada Dickey',
  25531: 'Ada Lovelace',
  1930: 'Ada Verloren',
  45989: 'Adal Maldonado',
  14293: 'Adalberto Vallega',
  19970: 'Adam   Platinga',
  18840: 'Adam A. Freeman',
  26707: 'Adam Arnold',
  20785: 'Adam Arvidsson',
  6121: 'Adam Asnyk',
  45452: 'Adam B. Lowther',
  27716: 'Adam Barkman',
  6479: 'Adam Betta',
  48657: 'Adam Biro',
  9181: 'Adam Black',
  8119: 'Adam Blade',
  25477: 'Adam Budak',
  36439: 'Adam Burch',
  5544: 'Adam Burns',
  379: 'Adam Bushnell',
  5261: 'Adam Clay',
  38393: 'Adam Colton',
  5233: 'Adam Corcoran',
  1014: 'Adam Cornelius Bert',
  35204: 'Adam Courtenay',
  5170: 'Adam Crothers',
  41522: 'Adam Cygan',
  41564: 'Adam Czarnota',
  45807: 'Adam Dodson',
  29407: 'Adam Dylewski',
  37131: 'Adam Epstein',
  46798: 'Adam Feather',
  48644: 'Adam Fortunate Eagle',
  42034: 'Adam Frattasio',
  9110: 'Adam Gamble',
  24582: 'Adam Golabek',
  31523: 'Adam Goodheart',
  22224: 'Adam Goodman',
  7945: 'Adam Guillain',
  33937: 'Adam Hall',
  36611: 'Adam Hamilton',
  48301: 'Adam Hargreaves',
  7741: 'Adam Harter',
  34931: 'Adam Henderson',
  37128: 'Adam Hochschild',
  20023: 'Adam Hocker',
  17888: 'Adam Hodges',
  37561: 'Adam Hook',
  32329: 'Adam Ioannou',
  4934: 'Adam J Kurtz',
  4180: 'Adam J. Kurtz',
  47891: 'Adam Jackson',
  23872: 'Adam Jeremy Capps',
  38499: 'Adam Jowett',
  4760: 'Adam Juniper',
  39803: 'Adam Karpf',
  41268: 'Adam Kimelman',
  28554: 'Adam Kipple',
  30185: 'Adam Kisiel',
  28072: 'Adam Kopciowski',
  47042: 'Adam Kramarzewski',
  22483: 'Adam Kubert',
  45219: 'Adam L Davis',
  2581: 'Adam L Gowans',
  41646: 'Adam Larkum',
  22412: 'Adam Leavesley',
  19790: 'Adam Lee',
  18614: 'Adam Leverton',
  31185: 'Adam Lofbomm',
  10689: 'Adam Lucas',
  500: 'Adam M. Lowenstein',
  48797: 'Adam Macqueen',
  30609: 'Adam Merrill',
  10076: 'Adam Mickiewicz',
  41247: 'Adam Moran',
  32123: 'Adam Nabeebaccus',
  36065: 'Adam North',
  11610: 'Adam Ockelford',
  3583: 'Adam Olson',
  11239: 'Adam Omar Nader',
  19261: 'Adam Piekarczyk',
  34905: 'Adam Plantinga',
  40345: 'Adam Politzer',
  49527: 'Adam Powley',
  41258: 'Adam Raider',
  3012: 'Adam Rapp',
  2525: 'Adam Record',
  7188: 'Adam Reitzel',
  29612: 'Adam Roberts',
  5388: 'Adam Robinson',
  8624: 'Adam Ross Solomon',
  28747: 'Adam Russ',
  20300: 'Adam Scott',
  19440: 'Adam Smith',
  5264: 'Adam Staley Groves',
  19876: 'Adam Stevens',
  38563: 'Adam Tate',
  13828: 'Adam Thierer',
  9073: 'Adam Thom',
  39782: 'Adam Thomson',
  31816: 'Adam Verner',
  35078: 'Adam Ward',
  10: 'Adam Zamoyski',
  32121: 'Adam and Marky',
  28887: 'Adams Media',
  42559: 'Addie Boswell',
  45644: 'Addis Hallmark',
  1607: 'Addison M Schonland',
  2056: 'Addy Ferguson',
  43375: 'Ade Asefeso MCIPS MBA',
  24205: 'Ade Oriade',
  39795: 'Adel A Khalifa',
  9009: 'Adel Bilal',
  13768: 'Adela de Castro Mangas',
  47429: 'Adelaide Harriet Osgood',
  37680: 'Adelaide Victoria Finch',
  39353: 'Adelais Eros Gupta',
  2409: 'Adele Geras',
  22912: 'Adele Lavallee',
  44748: 'Adele Millicent Smith',
  28082: 'Adele Schlombs',
  44723: 'Adele Stickland',
  24348: 'Adelheid Rasche',
  23401: 'Adeline Cordet',
  37625: 'Adeline Lesot',
  47370: 'Adeline Lobut',
  8918: 'Adeline Yen Mah',
  12920: 'Adelino Lima',
  18673: 'Ademola Adediji',
  20238: 'Adenrele Ojo',
  3805: 'Adeola Omole',
  43470: 'Adesh Silva',
  48658: 'Adetokunbo Knowes Borishade',
  11474: 'Adi Wolfson',
  50160: 'Adiba Jaigirdar',
  25137: 'Adidas Wilson',
  29173: 'Adil Dalbai',
  34086: 'Adil Mukesh',
  40410: 'Adil S. Virani',
  9892: 'Adilson Beatriz',
  12710: 'Adithya Ganesh',
  16177: 'Aditi Choudhary',
  38476: 'Aditya Bharadwaj',
  14859: 'Aditya Putranto',
  32373: 'Adjoa Andoh',
  12041: 'Admiral SirJames Burnell-Nugent',
  47497: 'Admiral William Henry Smyth',
  49770: 'Admit Art',
  19889: 'Adnan Adam Onart',
  40644: 'Adnan Elfarra',
  19367: 'Adnan Ibrahimbegovic',
  19996: 'Adnan Mahmutovic',
  23413: 'Adolf Boetticher',
  48197: 'Adolf Eichmann',
  601: 'Adolf Hinz',
  16163: 'Adolf Hitler',
  12039: 'Adolf J Schwab',
  16001: 'Adolf Kaegi',
  39442: 'Adolf Kussmaul',
  29691: 'Adolf Neubauer',
  26260: 'Adolf Rosenberg',
  24929: 'Adolf Ruthardt',
  39443: 'Adolf Tenner',
  39423: 'Adolfo Perez Agusti',
  41633: 'Adolfo Wegmann Stockebrand',
  7484: 'Adolph Carpe',
  47380: 'Adolph Donath',
  43573: 'Adolph Kruhm',
  23494: 'Adolph Moses',
  27401: 'Adolphe Abrahams',
  21213: 'Adolphus Bernay',
  23846: 'Adorable Notebook',
  30019: 'Adosaguas Sayalero',
  5228: 'Adres Catalan',
  33290: 'Adriaan W C Dorresteijn',
  12203: 'Adrian Andreescu',
  17166: 'Adrian Armstrong',
  9357: 'Adrian Barclay',
  4449: 'Adrian Bardon',
  21334: 'Adrian Besley',
  6240: 'Adrian Bevan',
  174: 'Adrian Bozon',
  7947: 'Adrian Bradbury',
  10725: 'Adrian C Sinnott',
  40445: 'Adrian Ciuche',
  6716: 'Adrian Coles',
  44731: 'Adrian Dater',
  9046: 'Adrian Dingle',
  35836: 'Adrian Edmondson',
  11554: 'Adrian F. Ashman',
  35061: 'Adrian Franklin',
  4298: 'Adrian Furnham',
  31362: 'Adrian Gilbert',
  11065: 'Adrian Grozavu',
  49411: 'Adrian H Joline',
  34777: 'Adrian Havill',
  29051: 'Adrian Hill',
  41376: 'Adrian Keane',
  28735: 'Adrian Kulp',
  36993: 'Adrian Lawson',
  33804: 'Adrian Lewis',
  20434: 'Adrian Little',
  41785: 'Adrian Luna',
  33687: 'Adrian Mulraney',
  30339: 'Adrian Norvid',
  39385: 'Adrian P. Hughes',
  20792: 'Adrian Peace',
  20164: 'Adrian Phillips',
  4845: 'Adrian Radulescu',
  3508: 'Adrian Raftery',
  37901: 'Adrian Robbe',
  30442: 'Adrian Searle',
  5978: 'Adrian Sharp',
  46713: 'Adrian Tame',
  6687: 'Adrian Tierney-Jones',
  28438: 'Adrian Tomine',
  25608: 'Adrian Waddington',
  41226: 'Adrian Wallwork',
  5609: 'Adrian West',
  22379: 'Adrian Wilkinson',
  11181: 'Adriana Consorte McCrea',
  39969: 'Adriana Migliorini',
  9130: 'Adriana Predoi-Cross',
  43504: 'Adriana Warmbier',
  15998: 'Adriana X. Jacobs',
  18716: 'Adriana Zoder',
  14333: 'Adrianna Kezar',
  17860: 'Adriano Milazzo',
  26954: 'Adriano Pedrosa',
  5725: 'Adriano Shaplin',
  46702: 'Adrien Loseille',
  19811: 'Adrienne Brown',
  33340: 'Adrienne Celt',
  22646: 'Adrienne Crafts',
  27459: 'Adrienne Edwards',
  33152: 'Adrienne Harris',
  5180: 'Adrienne J Odasso',
  20350: 'Adrienne Lawrence',
  35278: 'Adrienne Maree Brown',
  21975: 'Adrienne Monceau',
  13238: 'Adrienne Monteith Petty',
  23385: 'Adrienne Press',
  8740: 'Adrienne Salgado',
  48172: 'Adrienne Sosin',
  37203: 'Adrienne West',
  25295: 'Adult Arts',
  26397: 'Adult Coloring',
  23072: 'Adult Coloring Book',
  15410: 'Adult Coloring Books',
  25931: 'Adult Coloring Books for Stress Relief',
  34987: 'Adult Coloring World',
  19739: 'Adult Colouring Books',
  17365: 'Adult Literacy and Numeracy Australian Research Consortium',
  17600: 'Adult and Continuing Education (Ace)',
  47103: 'Advanced Color',
  32436: 'Advanced Life Support Group',
  43806: 'Adventure Publications',
  2298: 'Adwoa Badoe',
  31004: 'Adyashanti',
  4262: 'Aeilko H. Zwinderman',
  38538: 'Aejeong Kang',
  45825: 'Aero Creations',
  2495: 'Aeron Charline',

In [27]:
data3 = pd.read_csv("Input/categories.csv")
data3 = pd.DataFrame(data3)
data3.head()
data3 = data3.to_dict()

#renombrar columnas para pasarle un apply a la colimna numeros
#pasarla al otro dataset

In [ ]:
#data['categories'] = data['categories'].apply(lambda x: data3.get(x))
#data['categories'] = [ data['categories'].apply(lambda x: data3.get(x)) for x in data['categories']]

#data['authors'] = data['authors'].apply(lambda x: data2.get(x))

In [ ]:
#data.replace({"authors":data2})
#https://stackoverflow.com/questions/20250771/remap-values-in-pandas-column-with-a-dict

#data['authors'] = [data['authors'].map(data2).fillna(data['authors'])for i in data['authors']]
data

In [ ]:
#datafinal = data2.merge(data, left_index=True, right_on="categories", how="left")

In [30]:
#Guardo el nuevo dataset con los datos limpios para su prÃ³ximo analisis.
data.to_csv('Output/books_output.csv',index=False)